#principal {
    font-size: 25px;
    color: rgb(56, 118, 185);
    text-align: center;
}


ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 15px;
    justify-content: space-around;
    color: blue;
     padding-left: 10px;
  }

  h2 {
    font-size: 20px;
    color: rgb(255, 42, 0);
  }

  h3 {
    font-size: 25px;
    color: darkslategrey;
  }